section#contact.contact
  .container
    .row
      .col-sm-12.text-center
        .heading.wow.animated.fadeInUp
          h3 RSVP
          p We can't wait to see you!
    .row
      .col-sm-3.divider
        h5 contact info
        .contact-address
          ul
            li
              i.fa.fa-home
              .address-phone
                h4 address
                span= contact.venue
                span= contact.street
                span= contact.city + ', ' + contact.state + ' ' + contact.zip
            li
              i.fa.fa-phone
              .address-phone
                h4 phone
                span= 'Andy '
                  a(href='tel:' + contact.andy.phone)= contact.andy.phone
                span= 'Jane '
                  a(href='tel:' + contact.jane.phone)= contact.jane.phone
            li
              i.fa.fa-paper-plane
              .address-phone
                h4 email
                span= 'Andy '
                  a(href='mailto:' + contact.andy.email)= contact.andy.email
                span= 'Jane '
                  a(href='mailto:' + contact.jane.email)= contact.jane.email
      .col-sm-9
        .contact-block
          h5 Your RSVP
          form.contact_form(role='form', action='/rsvp  ', method='POST')
            .row
              .col-sm-6
                .form-group.floating-label-form-group
                  .input-group
                    .input-group-btn
                      button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", data-select-for="#guest_title", aria-haspopup="true", aria-expanded="false")
                        span Mr.&nbsp;
                        span.caret
                      ul.dropdown-menu
                        li
                          each honorific in honorifics
                            li
                              a(href="#") #{honorific}
                    input.form-control#guest_name(name='guest_name', required='required', placeholder='John Doe')
                    label Your Name
                .form-group.floating-label-form-group(style='overflow: hidden')
                  .input-group.bring-guest
                    .form-control Are you bringing a guest?
                    .input-group-btn
                      button.btn.btn-default.yes-btn(type='button') Yes
                      button.btn.btn-default(data-toggle='button') No
                  .input-group
                    .input-group-btn
                      button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", data-select-for="#plusone_title", aria-haspopup="true", aria-expanded="false")
                        span Mr.&nbsp;
                        span.caret
                      ul.dropdown-menu
                        each honorific in honorifics
                          li
                            a(href="#") #{honorific}
                    input.form-control#plusone_name(name='plusone_name', placeholder='John Doe')
                    label Your Guest
                    .input-group-btn
                      button.btn.btn-default.btn-cancel(type='button') Cancel
                .form-group
                  .btn-group.rsvp-btns(data-toggle='buttons')
                    label.btn.default-btn.active Attending!&nbsp;
                      span.fa.fa-smile-o
                      input#rsvp_yes(type='radio', name='rsvp', autocomplete='off', value='yes', checked='checked')
                    label.btn.default-btn Not attending&hellip;
                      span.fa.fa-frown-o
                      input#rsvp_no(type='radio', name='rsvp', autocomplete='off', value='no')
              .col-sm-6
                .form-group.floating-label-form-group
                  textarea.form-control#message(name='message', placeholder='We can\'t wait to see you!')
                  label Write your message
                .form-group
                  button.btn.default-btn.btn-block
                    span.fa.fa-paper-plane
                    | &nbsp;Submit
            //- Hidden fields
            input#guest_title(type="hidden", name="guest_title", value="Mr.")
            input#plusone_title(type="hidden", name="plusone_title", value="Mr.")
