section#gallery.gallery.lightsmoke
  .container
    .row
      .col-sm-12
        .heading.wow.animated.fadeInUp.text-center
          h3 Gallery
    .row
      .col-sm-12
        #photo-gallery.photo-gallery
          each photo in gallery
            .item
              img(src=imgpath + photo.thumbnail, alt=photo.title)
              a.caption.gallery-popup(href=imgpath + photo.img)
                h5= photo.title
                span.img_category= photo.category
